<!-- start custom footer snippets -->
<table style="width:100%" border="0">
<tr>
  <td align="left">
    <img src="/assets/images/logos/KivuLogo.png" alt="Kivu Logo" width="80">
  </td>
  <td align="right">
    <div>NSF funded research, supported through grants to 
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2150965">Georgia Tech</a>, 
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2151594">Tulane University</a>, and 
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2151005">Penn State</a>.
    </div>
  </td>
  <td align="right">
    <img src="/assets/images/logos/NSF_4Color_vector_Logo.png" alt="NSF Logo" width="100">
  </td>
</tr>
</table>
<!-- end custom footer snippets -->