---
# have to use .html for page to get pagination to work
title: "Kivu Geophysics Project"
layout: splash
permalink: index.html
#date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.2"   # opacity of overlay_color
  overlay_image:  assets/images/20220803_105252.jpg
  actions:
    - label: "Funding"
      url: "https://www.nsf.gov/awardsearch/showAward?AWD_ID=2150965"
  #caption: "Photo credit: me"
excerpt: "Multidisciplinary research into transient rifting behavior"
intro: 
  - excerpt: 'During a large eruption at Nyiragongo volcano in the eastern Democratic Republic of Congo, a large rift opening event propagated several km southward toward and possibly below Lake Kivu.' 
feature_row:
  - image_path: assets/images/20220803_131527_sm.jpg
    title: "Field Activities"
    url: "/field"
    excerpt: "Field activities for data collection"
    btn_label: "Learn more"
    btn_class: "btn--primary"
  - image_path:  assets/images/BYAH_TS_sm.png
    title: "Products"
    url: "/products"
    excerpt: "Research results and products"
    btn_label: "Learn more"
    btn_class: "btn--primary"
  - image_path: assets/images/BYAH_TS_sm.png
    title: "Connections"
    excerpt: "Collaborations and training in and around Rwanda"
    url: "/connections"
    btn_label: "Learn more"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="right" %}
{% include feature_row  %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
